    * {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
    }
    
    .main {
        width: 980px;
        margin: 0 auto;
        background-color: blueviolet;
    }
    
    .main_register {
        margin: 0 auto;
    }
    
    .main_register>form>ul {
        width: 500px;
        margin: 0 auto;
    }
    
    .reg>input {
        width: 400px;
        height: 40px;
        font-size: 18px;
        margin-top: 20px;
        padding-left: 10px;
    }
    
    .sub {
        padding-top: 40px;
    }
    
    .sub>input {
        width: 415px;
        height: 40px;
        margin: 0 auto;
    }
    .error{
        color: red;
    }